<div class="Menu">        
    <h1 class="appTitle">UIgrammes</h1>
    
    <div class="menuLinkContainer">
        <a class="menuLink" (click)="navigateTo('/login')" routerLink="/login" routerLinkActive="activeMenuLink">
            <span class="material-symbols-outlined">home</span>
            Home
        </a>
        <a class="menuLink" (click)="navigateTo('/login')" routerLink="/login" routerLinkActive="activeMenuLink">
            <span class="material-symbols-outlined">add_circle</span>
            Create
        </a>
        <a class="menuLink" (click)="navigateTo('/users')" routerLink="/users" routerLinkActive="activeMenuLink">
            <span class="material-symbols-outlined">group</span>
            Users
        </a>
        <a class="menuLink" (click)="navigateTo('/login')" routerLink="/login" routerLinkActive="activeMenuLink">
            <span class="material-symbols-outlined">account_circle</span>
            Profile
        </a>
        <a class="menuLink" (click)="navigateTo('/')">
            <span class="material-symbols-outlined">logout</span>
            Logout
        </a>
    </div>
</div>