
.usersList{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    padding-top: 50px;

    //! placement
    //box-shadow: inset 0 0 0 2px red;

}


app-user-profile{
    width: 50%;
    height: fit-content;
}