
<div class="Publication">
    <div class="pubHeader pubComponent">
        <div class="pubImgProfile"></div>
        <span class="pubUsername">@Nimblestar</span>
    </div>
    <div class="pubContent pubComponent">
        You see, @Seoul, thats is a true social network. Not as
        much horrible as @Pear, or whatever is 
        called your awful interface.<br>
        #PearIsHorrible #UIgrammesIsTheBestSocialNetwork
    </div>
    <div class="pubFooter pubComponent">
        <div class="pubAction">
            <button class="pubActionBtn likeBtn">
                <span class="material-symbols-outlined">favorite</span>  
            </button>
            <button class="pubActionBtn comBtn">
                <span class="material-symbols-outlined">chat_bubble</span> 
            </button>
            <button class="pubActionBtn shareBtn">
                <span class="material-symbols-outlined">send</span>  
            </button>
        </div>
        <div class="pubDate">
            15 minutes ago
        </div>
    </div>
</div>