<div class="user-profile-card">
    <div class="leftProfile">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScxQCa44v72vJdvzRGQWYSOqMO_W8wrLg20NjD6uy1Rg&s"
        class="imgProfile"
        alt="photo de profil utilisateur"> <!-- ajouter lien img de profil du user -->
    </div>
    <div class="rightProfile">
        <div class="nameProfile">
            <!--{{ user.identifiant }}-->
            <h3>Viking</h3>
        </div>
        <div class="statusProfile">
            <!--{{ statut }}--> <!-- ajouter affiche conditionnel en fonction de si connecté ou non -->
            <span class="material-symbols-outlined online">circle</span>
            <span class="onlineText">Online</span>
        </div>
    </div>
</div>

