<div class="user-profile-card">
    <div class="leftProfile">
        <img
            [src]="user.avatar || 'https://www.shutterstock.com/image-vector/default-avatar-profile-icon-social-600nw-1677509740.jpg'"
            class="imgProfile">
    </div>
    <div class="rightProfile">
        <div class="nameProfile">
            <h3>{{identifiant}}</h3>
        </div>
        <div class="statusProfile">
            <span class="material-symbols-outlined online" [ngClass]="{ 'online': statut === 'Online', 'offline': statut === 'Offline' }">circle</span>
            <span class="onlineText">{{ statut }}</span>
        </div>
    </div>
</div>

